/*--------------- custom css -----------------*/

/*--- GLOBAL ---*/
*, h1, h2, h3, h4, h5, h6, p {
	font-family: 'Dosis', sans-serif;
	letter-spacing: .8px;
}
body {
	background: #eee;
}
hr {
	margin-top: 5rem;
	margin-bottom: 2rem;
}
.fa-lg{
	border-radius: 10px;
	background: black;
}
.social .fa:hover {
	background: #4A90E2;
	cursor: pointer;
	-webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	transition: ease .3s;
}
.fa.mobile:hover {
	background: #4A90E2;
	cursor: pointer;
	-webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	transition: ease .3s;
}
.relative {
	position: relative;
}
.inline-block {
	display: inline-block;
}

/* --- TOP BAR --- */
.my-top-menu, .title-bar {
	background: #f7f7f7;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	color: #222;
	margin-top: 0 !important;
	padding-left: 1rem;
	padding-right: 1rem;
	width: 100%;
}
.title-bar {
	padding-left: 1rem;
	padding-right: 1rem;
}
.my-top-menu li {
	color: #222;
	margin: 0;
}
.my-top-menu li a {
	color: #4A90E2;
}

button.menu-icon:after {
	background: #222;
	box-shadow: 0 7px 0 #222,
    0 14px 0 #222;
}

.menu-text, .title-bar-left {
	text-transform: uppercase;
}

.social {
	margin-top: .25rem;
}

/* --- SECTIONS --- */
.home {
	color: white;
	text-align: right;
	margin-top: 12rem;
	margin-right: 4rem;
}
.home h2{
	color: white;
	letter-spacing: 0.1em;
	font-weight: bold;
	font-size: 80px;  
}
.home p {
	color: #f4f6a3;
	letter-spacing: 0.225em;
	font-size: 30px;
}
.home-button {
	background:rgba(0, 0, 0, 0.58);
	padding-left: 2rem;
	padding-right: 2rem;
	margin-top: .5rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	border-radius: 100px;
	color: white;
}
.home-button:hover{
		background:rgba(0, 0, 0, 0.4);
		border: solid 2px black;
		transition: all .25s ease-out;
		color: white;
}
.home-button:focus{
		color: white;
}
#banner{
	background-position: center bottom;
	background-image: url(../img/banner2.png);
	background-size: cover;
	height: 100vh;
	min-height: 600px;
	-webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
}
#first {
	margin-bottom: 2rem;

}
#first .thumbnail-wrapper {
	position: relative;
	max-width: 150px;
	margin: 1rem auto;
}
#first .detail {
	background: transparent;
	padding: 5rem 1rem 0rem 1rem;
	text-align: center;
	max-width: 300px;
	margin: -6rem auto 0;
}
#first .detail p{
	margin-bottom: 0;
}

#second {
	background: url(../img/escheresque_ste.png);
	padding: 4rem 2rem;
}
#second h3 {
	border-bottom: 2px solid #f7f7f7;
	color: #f7f7f7;
	font-weight: 500;
	margin-bottom: 3rem;
	padding-bottom: .5rem;
	width: 40%;
}
.about-text {
	border-left: 2px solid #badd69;
	color: #f7f7f7;
}
.title {
	background: #badd69;
	color: #222;
	padding-left: .9rem;
	margin-left: -1rem;
}
.port-title {
font-family: 'Dosis', sans-serif;
font-size: 40px;
color: black;
}

.dropdown {
	visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
}

.portfolio-body h2 {
	font-weight: 700;
	margin: 1rem 0;
	text-transform: uppercase;
}
.portfolio-body h3 {
	padding-top: 1rem;
	padding-left: 0.5rem;
}
.overlay-label {
	background: #4A90E2;
	position: absolute;
	bottom: 1rem;
	opacity: .8;
	color: #000;
	padding: 0 .9rem 0 .2rem;
	font-weight: 700;
}
.project {
	margin: 1rem;
}
.project h1 {
	font-family: 'Dosis', sans-serif;
	font-weight: 700;
	margin-bottom: 1.5rem;
}
.project .button {
	margin: .5rem 0;
}
.portfolio-body {
	margin-right: 1rem;
}
.portfolio-body.writing {
	margin-left: .3rem;
	margin-right: .2rem;
}

/*  --- PORTFOLIO PAGES --- */

.writing-label{
	color: #8ea950;
}
.writing-page h6 {
	font-weight: 800;
}
.writing-page h6 a:hover{
text-decoration: underline;
}
.prez-label{
	color: #ff292e;
}
.pubs-label{
	color: #4180ff;
}
.pub-title:hover{
text-decoration: underline;
-moz-text-decoration-color: black; /* Code for Firefox */
text-decoration-color: black;
}
.pubs-page h6 {
	font-weight: 800;
}
.pubs-list{
	margin-left: 2rem;
}
.writing-page .pubs-list img{
	border: 1px solid darkgray;
}
.design-label{
	color: #9437ff;
}
.vid-label{
	color: #ff9300;
}
.music-label {
	color: #1d6342;
}
.photo-label {
	color: #000080
}
.list-item{
	margin-bottom: 30px;
	padding-top: 30px;
	border-top: 1px solid #CCC;
}

/*  --- WRITING PAGE --- */
.card {
	/*box-shadow: 2px 2px 1px gray;*/
	padding-bottom: 30px;
    border-bottom: 1px solid #CCC;
    margin-left: 1rem;
    margin-right: 1rem;
	background: white;
}

.card-title h4 {
	color: black;
	text-align: left;
	padding: 0.5rem 1rem;
	font-weight: bolder;
	margin: 0rem 1rem 1rem 1rem;

}
.art-date{
	font-size: 18px;
	color: black;
	font-weight: normal;
}
.card h5 {
	font-weight: bold;
	margin-top: 0.5rem;
}
.read-more {
	text-align: center;
	margin: 0rem .5rem;
}
.row.read-more {
	margin: 0.5rem 0.5rem 0.5rem 0.5rem;
	border: 1px solid black;
	/*background: #badd69;*/
	color: black;
	font-size: 20px;
}
.card img{
	padding-bottom: 1rem;
}

.blurb p{
	padding-left: 1rem;
}
.flip p{
	padding-left: 1rem;
}
.flip li{
	padding-left: 1rem;
}
.flip h5{
	padding-left: 1rem;
}
.read-more h4 {
	color:black;
	font-weight: bold;
}
.IP {
	font-family: Crimson Text;
	font-weight: bolder;
	font-size: 25px;
	margin-left: .3rem; 
}
/*  --- VIDEO PAGE --- */
.yt {
	background: white;
	text-align: center;
	padding: 40px 10px 10px 10px;
	height: 580px;
	box-shadow: 1px 1px 3px 1px lightgray;
}
.yt h3{
	font-weight: bold;
}
.ytpic {
	height: 100px;	
	border: 2px solid white;
    border-radius: 50%;
    margin-bottom: -50px;
    margin-top: 1rem;
    text-align: center;
}
.ytlink {
	background: #e62117;
	color: white;
	font-weight: bold;
	box-shadow: 1px 1px 3px 1px lightgray;
	text-align: center;
	margin-bottom: 2rem;
}
.ytlink a{
	color: white;
	}
.ytlink a:hover{
	text-decoration: underline;
	}
.vid-page h5{
	font-weight: bolder;
	margin-top: 1rem;
}
.videodescription{
	max-width: 691px;
	margin-left: 1rem;

}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/*  --- BLOG PAGE --- */
/*blog home*/
.blog-page li{
	font-family: 'Coming Soon', cursive;
	text-transform: lowercase;
	color: white;
}
.blog-page a{
	font-family: 'Coming Soon', cursive;
	color: white;
	text-transform: lowercase;
}
.blog-page .my-top-menu, .blog-page .title-bar {
	background-color: black;
	padding-top: .5em;
	padding-bottom: .5em;
}
.blog-page .my-top-menu li a {
	color: white;
}
.blank {
	background: url(../blog/pattern.jpg);
	background-size: cover;
	background-position: center;
}
.blogthumb1 {
	background: url(../blog/bg1.jpg);
	background-size: cover;
	background-position: center;
}
.blogthumb2 {
	background: url(../blog/bg2.jpg);
	background-size: cover;
	background-position: center;
}
.blogthumb3 {
	background: url(../blog/apic3.jpg);
	background-size: cover;
	background-position: center;
}
.blogthumb {
	text-align: center;
	height: 50vw;
	max-height: 75vh;
	line-height: 450px;
}
.blogthumb h1{
	color: white;
	font-family: 'Amatic SC', cursive;
	text-transform: uppercase;
	margin-bottom: 0;
	letter-spacing: 10px;
}
.blogthumb h5 {
	color: white;
	font-family: 'Coming Soon', cursive;
	text-transform: capitalize;
}
span.blog-title {
  display: inline-block;
  vertical-align: middle;
  line-height: 140px; /* <-- adjust this */
}
/*blog entry*/
.blogbg {
	background: url(../blog/apic.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 2rem 0rem;
}
.blogbg1 {
	background: url(../blog/bg1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 2rem 0rem;
}
.blogbg2 {
	background: url(../blog/bg2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 2rem 0rem;
}
.blogbody {
	background: rgb(255, 255, 255); 
    background: rgba(255, 255, 255, 0.9);
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 1em;
}
.blogbody p {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	font-family: 'Raleway', sans-serif;
}
.bb2 a {
	text-transform: capitalize;
	color: #4A90E2;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
}
.bb1 p.firstp::first-letter {
  color: #ebf7ed;
  background-color: #558d72;
  font-size: 4em;
  font-weight: bold;
  float: left;
  margin-right: .2em;
  padding: 0em .5em;
  line-height: 1.5em;
  font-family: times;
  border: 0px solid;
  border-radius: 10%;
}
.bb2 p.firstp::first-letter {
  color: #2518e8;
  font-size: 6em;
  font-weight: bold;
  float: left;
  margin-right: .15em;
  padding: 0em 0em;
  line-height: 1em;
  font-family: times;
  border: 0px solid;
  border-radius: 10%;
}
.blogbody .subhead{
	text-align: center;
}
.blogbody h1 {
	font-family: 'Amatic SC', cursive;
	text-align: center;
	font-size: 60px;
	padding-top: 2rem;
}
.blogbody h3 {
	font-family: 'Coming Soon', cursive;
	text-transform: lowercase;
	color: white;
	text-align: center;
	background-color: rgba(0,0,0,.8);
}
.blogbody h3:hover{
	background-color: #484747;
    -webkit-transition: ease .2s;
	-moz-transition: ease .2s;
	transition: ease .2s;
}
.blogbody h5 {
	font-family: 'Raleway', sans-serif;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	font-weight: bold;
}
.blogpic {
	object-fit: cover;
	height: 18.75em;
	width: 25em;
	display: block;
	margin:2em auto;
}
/*about blog page*/
.aboutpic {
margin-top: 2em;
}
.about h3 {
	font-weight: bold;
	text-align: center;
	margin: 1em 0;
	font-family: 'Coming Soon', cursive;

}
.about p {
	font-family: 'Raleway', sans-serif;
}
.aboutpattern {
	background-image: url(../blog/pattern.jpg);
}
.instapic {
	border: 2px solid white;
    border-radius: 50%;
}
/* --- IMAGES --- */
img {
	display: block;
	position: relative;
}
.portfolio-img {
	margin: 0rem auto;
	width: 75%;
	padding-top: 1rem;
}
.about-img {
	margin-bottom: 1rem;
}
.presentations-page .thumbnail{
	margin: 1rem;
}
.design-page .thumbnail{
	margin: 1rem;
	border: 1px solid darkgray;
}

.presentations-page .thumbnail-overlay {
	padding: .5em;
	display: none;
	margin: 1rem 15px 1rem 0;
	color: #fff;
	position: absolute;
	bottom: 0;
	background: rgba(0,0,0,.7);
}
.design-page .thumbnail-overlay {
	padding: .5em;
	display: none;
	margin: 1rem 15px 1rem 0;
	color: #fff;
	position: absolute;
	bottom: 0;
	background: rgba(0,0,0,.7);
}
.design-page .thumbnail {
	width: 100%;
}
.project img {
	margin: 1rem 0;
}

.gallery img {
	display: inline-block;
	float: left;
	max-width: 200px;
	margin: 0 .2rem .2rem 0;
}
.featvid {
	padding: 0 .9375rem;
}
/* --- LINKS --- */
p a {
	padding: .2rem .2rem;
}

.label-content{
	margin: .5rem;
}
.portfolio-label {
	text-align: center;
	font-size: 40px;
    font-weight: bolder;
	/*border-bottom: 3px solid #4A90E2;
	font-size: 2vw;
	font-weight: 700;
	letter-spacing: 1.2px;
	
	position: absolute;
	text-align: center;	
	text-transform:uppercase;
	clear:both;
	margin: 0;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);*/
}

.social a .fa {
	width: 24px;
	height: 24px;
	color: #f7f7f7;
	background: #222;
	border-radius: 50%;
	padding: .4rem;
	font-size: 12px;
	margin: 0 .2rem;
	text-align: center;
}

.fa.mobile {
	border-radius: 50%;
	color: #222;
	background: #f7f7f7;
	width: 50px;
	height: 50px;
	font-size: 28px;
	margin: 3rem .2rem 0 0 ;
	padding-top: 10px;
}
.fa.mobile.other {
	color: #f7f7f7;
	background: #222;
}

.other-mobile-social {
	margin-top: -2rem;
	margin-bottom: 3rem;
}

.button {
	background:#4A90E2;
	padding-left: 3rem;
	padding-right: 3rem;
	margin-top: 2rem;
	border-radius: 100px;
}

/*-- MEDIA QUERIES --*/
@media (max-width:1024px) {
	.portfolio-img {
		width: 75%;
	}

	/*.portfolio-label {
		font-size: 2vw !important;
	}*/
}
@media (max-width:640px) {
	.portfolio-img {
		margin: 1rem auto;
		width: 50%;
	}
	/*.portfolio-label {
		font-size: 4.5vw !important;
	}*/
	.blogthumb {
	line-height: 200px;
}
}
@media (min-width:1024px) {
	#second {
		height: 100vh;
		padding-top: 2rem;
		min-height: 520px;
	}
	#first {
		height: 160vh;
		padding-top: 1rem;
		min-height: 700px;

	}
	#first .row {
		margin-top: 0rem;
	}

}
@media (min-width:640px) {
	.medium-up-fixed {
		position: fixed;
	}
	.portfolio-body {
	margin: 1rem 2rem 2rem 0;
	}
	.blogthumb:hover {
-webkit-filter: brightness(60%); /* Safari 6.0 - 9.0 */
    filter: brightness(60%);
    -webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	transition: ease .3s;
}
}
@media (min-width: 640px) and (max-width: 990px) {
	.yt {
	height: 460px;
	}
	.yt h3{
	font-size: 20px;
	}
	.ytlink {
	height: 50px;
	}
	.blogthumb {
	line-height: 350px;
}
}
@media (max-width: 640px)  {
	.yt {
	height: 500px;
	}
	.blogbg1, .blogbg2, .blogbg3, .blogbg4, .blog5 {
	background-image: none;
	padding: 0;
	}
	.blogbody h5 {
	width: 90%
	}
	.blogbody p {
	width: 90%
	}
	.head, .subhead {
	display: none;
	}
	.blog-page body {
		background-color: red;
	}
}
@media (min-width: 769px) {
.presentations-page .portfolio-body .thumbnail:hover {
	opacity: .3;
	-webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	transition: ease .3s;
	}
.presentations-page .portfolio-body .thumbnail:hover + .thumbnail-overlay, .presentations-page .portfolio-body .thumbnail:hover + .thumbnail-overlay:hover
 {
	display: block;
	}
.design-page .portfolio-body .thumbnail:hover {
	opacity: .3;
	-webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	transition: ease .3s;
	}
.design-page .portfolio-body .thumbnail:hover + .thumbnail-overlay, .design-page .portfolio-body .thumbnail:hover + .thumbnail-overlay:hover
 {
	display: block;
	}
.pubs-page .portfolio-body .thumbnail:hover {
	opacity: .3;
	-webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	transition: ease .3s;
	}
.pubs-page .portfolio-body .thumbnail:hover + .thumbnail-overlay, .pubs-page .portfolio-body .thumbnail:hover + .thumbnail-overlay:hover
 {
	display: block;
	}
.index-page .thumbnail:hover {
	opacity: .5;
	-webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	transition: ease .3s;
	color: white;
	}
.thumbnail-wrapper:hover + .detail p {
	visibility: visible;
  	opacity: 1;
	}
.my-top-menu li a:hover {
	background: #4A90E2;
	color: #f7f7f7;
	-webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	transition: ease .3s;
	}
	a:hover + .dropdown {
	visibility: visible;
  	opacity: 1;
	}
.portfolio:hover .portfolio-label {
	color: #f7f7f7;
	-webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	transition: ease .3s;
	}

.portfolio:hover img {
	border: 5px solid #4A90E2;
	opacity: .5;
	border-radius: 100%;
	-webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	transition: ease .3s;
	}
.button:hover {
	background: #266DBF;
	border-color: #266DBF;
	}
.hollow.button:hover {
	background: #222;
	border-color: #222;
	color: #f7f7f7;
	}
}