/*--------------- custom css -----------------*/

/*--- GLOBAL ---*/
*, h1, h2, h3, h4, h5, h6, p {
	font-family: 'Dosis', sans-serif;
	letter-spacing: .8px;
}
body {
	background: #eee;
}
hr {
	margin-top: 5rem;
	margin-bottom: 2rem;
}
.fa-lg{
border-radius: 10px;
background: black;
}
.relative {
	position: relative;
}
.inline-block {
	display: inline-block;
}

/* --- TOP BAR --- */
.my-top-menu, .title-bar {
	background: #f7f7f7;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	color: #222;
	margin-top: 0 !important;
	padding-left: 1rem;
	padding-right: 1rem;
	width: 100%;
}
.title-bar {
	padding-left: 1rem;
	padding-right: 1rem;
}
.my-top-menu li {
	color: #222;
	margin: 0;
}
.my-top-menu li a {
	color: #4A90E2;
}
.my-top-menu li a:hover {
	background: #4A90E2;
	color: #f7f7f7;
	-webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	transition: ease .3s;
}

button.menu-icon:after {
	background: #222;
	box-shadow: 0 7px 0 #222,
    0 14px 0 #222;
}

.menu-text, .title-bar-left {
	text-transform: uppercase;
}

.social {
	margin-top: .25rem;
}

/* --- SECTIONS --- */
#first {
	margin-bottom: 2rem;
}
#first .thumbnail-wrapper {
	position: relative;
	max-width: 150px;
	margin: 1rem auto;
}
#first .detail {
	background: transparent;
	padding: 5rem 1rem 1rem 1rem;
	text-align: center;
	max-width: 300px;
	margin: -6rem auto 0;
}

#second {
	background: url(../img/escheresque_ste.png);
	/* --- image from subtlepatters.com --- */
	padding: 4rem 2rem;
}
#second h3 {
	border-bottom: 2px solid #f7f7f7;
	color: #f7f7f7;
	font-weight: 500;
	margin-bottom: 3rem;
	padding-bottom: .5rem;
	width: 40%;
}
.about-text {
	border-left: 2px solid #badd69;
	color: #f7f7f7;
}
.title {
	background: #badd69;
	color: #222;
	padding-left: .9rem;
	margin-left: -1rem;
}
.port-title {
font-family: 'Dosis', sans-serif;
font-size: 40px;
color: black;
}

.dropdown {
	visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
}
a:hover + .dropdown {
	visibility: visible;
  opacity: 1;
}
.index-page .thumbnail:hover {
	opacity: .5;
	-webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	transition: ease .3s;
	color: white;
}
.thumbnail-wrapper:hover + .detail p {
	 visibility: visible;
  opacity: 1;
}
.portfolio-body h2 {
	font-weight: 700;
	margin: 1rem 0;
	text-transform: uppercase;
}
.portfolio-body h3 {
	padding-top: 1rem;
	padding-left: 0.5rem;
}
.overlay-label {
	background: #4A90E2;
	position: absolute;
	bottom: 1rem;
	opacity: .8;
	color: #000;
	padding: 0 .9rem 0 .2rem;
	font-weight: 700;
}
.project {
	margin: 1rem;
}
.project h1 {
	font-family: 'Dosis', sans-serif;
	font-weight: 700;
	margin-bottom: 1.5rem;
}
.project .button {
	margin: .5rem 0;
}
.portfolio-body {
	margin-right: 1rem;
}
.portfolio-body.writing {
	margin-left: .3rem;
	margin-right: .2rem;
}
.card {
	/*box-shadow: 2px 2px 1px gray;*/ 
	padding: .5rem;
	margin: 1rem;
	background: white;
}
.card-title h4 {
	color: black;
	text-align: center;
	padding: 0.5rem 1rem;
	font-weight: bold;
	margin: 0rem 1rem 1rem 1rem;

}
.card h5 {
	font-weight: bold;
	margin-top: 0.5rem;
}
.read-more {
	text-align: center;
	margin: 0rem .5rem;
}
.row.read-more {
	margin: 0rem 0.5rem;
	border: 1px solid black;
	/*background: #badd69;*/
	color: black;
	font-size: 20px;
}
.row.read-more:hover {
	background: #badd69;
	-webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	transition: ease .3s;
	color: white;
}
.read-more h4 {
	color:black;
	font-weight: bold;
}
.IP {
	font-family: Crimson Text;
	font-weight: bolder;
	font-size: 25px;
	margin-left: .3rem; 
}

/* --- IMAGES --- */
img {
	display: block;
	position: relative;
}
.portfolio-img {
	margin: 0rem 2rem auto;
	width: 75%;
}
.about-img {
	margin-bottom: 1rem;
}
.pubs-page .thumbnail {
	margin: 1rem;
}
.presentations-page .thumbnail{
	margin: 1rem;
}
.writing-page .thumbnail {
	background: white
}
.presentations-page .thumbnail-overlay {
	padding: .5em;
	display: none;
	margin: 1rem 15px 1rem 0;
	color: #fff;
	position: absolute;
	bottom: 0;
	background: rgba(0,0,0,.7);
}

.pubs-page .thumbnail-overlay {
	padding: .5em;
	display: none;
	margin: 1rem 15px 1rem 0;
	color: #fff;
	position: absolute;
	bottom: 0;
	background: rgba(0,0,0,.7);
}
/*.portfolio-body .thumbnail:hover {
	opacity: .3;
	-webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	transition: ease .3s;
}*/
.presentations-page .portfolio-body .thumbnail:hover {
	opacity: .3;
	-webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	transition: ease .3s;
}
.presentations-page .portfolio-body .thumbnail:hover + .thumbnail-overlay, .presentations-page .portfolio-body .thumbnail:hover + .thumbnail-overlay:hover
 {
	display: block;
}
.pubs-page .portfolio-body .thumbnail:hover {
	opacity: .3;
	-webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	transition: ease .3s;
}
.pubs-page .portfolio-body .thumbnail:hover + .thumbnail-overlay, .pubs-page .portfolio-body .thumbnail:hover + .thumbnail-overlay:hover
 {
	display: block;
}

.project img {
	margin: 1rem 0;
}

.gallery img {
	display: inline-block;
	float: left;
	max-width: 200px;
	margin: 0 .2rem .2rem 0;
}

/* --- LINKS --- */
p a {
	padding: .2rem .2rem;
}
p a:hover {
	background: #4A90E2;
	color: #f7f7f7;
	-webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	transition: ease .3s;
}
.label-content{
	margin: .5rem;
}
.portfolio-label {
	text-align: center;
	font-size: 40px;
    font-weight: bolder;
	/*border-bottom: 3px solid #4A90E2;
	font-size: 2vw;
	font-weight: 700;
	letter-spacing: 1.2px;
	
	position: absolute;
	text-align: center;	
	text-transform:uppercase;
	clear:both;
	margin: 0;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);*/
}
.writing-label{
	color: #8ea950;
}
.prez-label{
	color: #ff292e;
}
.pubs-label{
	color: #4180ff;
}
.portfolio:hover .portfolio-label {
	color: #f7f7f7;
	-webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	transition: ease .3s;
}

.portfolio:hover img {
	border: 5px solid #4A90E2;
	opacity: .5;
	border-radius: 100%;
	-webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	transition: ease .3s;
}

.social a .fa {
	width: 24px;
	height: 24px;
	color: #f7f7f7;
	background: #222;
	border-radius: 50%;
	padding: .4rem;
	font-size: 12px;
	margin: 0 .2rem;
	text-align: center;
}
.social .fa:hover {
	background: #4A90E2;
	cursor: pointer;
	-webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	transition: ease .3s;
}
.fa.mobile {
	border-radius: 50%;
	color: #222;
	background: #f7f7f7;
	width: 50px;
	height: 50px;
	font-size: 28px;
	margin: 3rem .2rem 0 0 ;
	padding-top: 10px;
}
.fa.mobile.other {
	color: #f7f7f7;
	background: #222;
}
.fa.mobile.workaround{
font-family:helvetica; 
font-size: 29px;
}
.fa.mobile:hover {
	background: #4A90E2;
	cursor: pointer;
	-webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	transition: ease .3s;
}
.other-mobile-social {
	margin-top: -2rem;
	margin-bottom: 3rem;
}

.button {
	background:#4A90E2;
	padding-left: 3rem;
	padding-right: 3rem;
	margin-top: 2rem;
}
.button:hover {
	background: #266DBF;
	border-color: #266DBF;
}
.hollow.button:hover {
	background: #222;
	border-color: #222;
	color: #f7f7f7;
}
a.back i {
	color: #222;
	font-weight: 700;
	margin-top: 1rem;
}
a.back i:hover {
	font-size: 1.2rem;
	-webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	transition: ease .3s;
}

/*-- READ MORE --*/
.blog-post section:last-of-type {
  display: none;
  visibility: hidden;
}

input[type=checkbox] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

[for^="read_more"] span:last-of-type {
  display: none;
  visibility: hidden;
}

input[type=checkbox]:checked ~ section {
  display: block;
  visibility: visible;
  width: 100%;
}

input[type=checkbox]:checked ~ [for^="read_more"] span:first-of-type {
  display: none;
  visibility: hidden;
}

input[type=checkbox]:checked ~ [for^="read_more"] span:last-of-type {
  display: block;
  visibility: visible;
}

/*-- MEDIA QUERIES --*/
@media (max-width:1024px) {
	.portfolio-img {
		width: 75%;
	}

	/*.portfolio-label {
		font-size: 2vw !important;
	}*/
}
@media (max-width:640px) {
	.portfolio-img {
		margin: 1rem auto;
		width: 50%;
	}

	/*.portfolio-label {
		font-size: 4.5vw !important;
	}*/
}
@media (min-width:1024px) {
	#first, #second {
		height: 100vh;
		padding-top: 2rem;
	}
#first {
	margin-top: 8rem;
}
}
@media (min-width:640px) {
	.medium-up-fixed {
		position: fixed;
	}
	.portfolio-body {
	margin: 1rem 2rem 2rem 0;
}
}